{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container my-4">
    <h1 class="mb-4 text-center">Mis Colecciones</h1>
    <!-- FILTRO POR PAÍS DE EDITORIAL -->
    <form method="get" class="d-flex justify-content-center mb-3 gap-2">

        <!-- Mantener letra -->
        <input type="hidden" name="letter" value="{{ selected_letter }}">

        <label for="country" class="align-self-center fw-semibold">
            Editorial:
        </label>

        <select
            name="country"
            id="country"
            class="form-select form-select-sm w-auto"
            onchange="this.form.submit()"
        >
            <option value="">Todas</option>
            {% for value, label in editorial_countries %}
                <option value="{{ value }}"
                    {% if value == selected_country %}selected{% endif %}
                >
                    {{ label }}
                </option>
            {% endfor %}
        </select>

    </form>

    <!-- PAGINACIÓN POR LETRAS -->
    <nav class="mt-4">
        <ul class="pagination justify-content-center flex-wrap">
            {% for letter in alphabet %}
            <li class="page-item {% if letter == selected_letter %}active{% endif %}">
                <a class="page-link" href="?letter={{ letter }}{% if selected_country %}&country={{ selected_country }}{% endif %}">
                    {{ letter }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    <div class="row g-4">
        {% for collection in page_obj %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="card shadow-sm border-0 overflow-hidden" role="button" data-bs-toggle="modal" data-bs-target="#collectionModal{{ collection.id }}">
                <div class="card-img-container">
                {% if collection.comic.thumbnail %}
                    <img src="{{ collection.comic.thumbnail.url }}" class="comic-img" alt="Thumbnail">
                {% else %}
                    <div class="comic-img bg-light d-flex align-items-center justify-content-center">
                    <span class="text-muted">Sin imagen</span>
                    </div>
                {% endif %}
                <!-- Artistas -->
                {% if collection.prefetched_signatures %}
                <div class="artist-stack">
                    {% for signature in collection.prefetched_signatures %}
                        {% if signature.artist.photo %}
                            <img
                                src="{{ signature.artist.photo.url }}"
                                alt="{{ signature.artist.name }}"
                                class="artist-mini-photo"
                                title="{{ signature.artist.name }}"
                            >
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}

                <!-- Country editorial -->
                {% with first_editorial=collection.comic.publishing.editorials.first %}
                    {% if first_editorial %}
                        <img
                            src="{% static 'images/' %}{{ first_editorial.country }}.png"
                            alt="{{ first_editorial.name }}"
                            class="country-flag"
                        >
                    {% endif %}
                {% endwith %}
                <div class="overlay-info">
                    <div class="fw-bold">{{ collection.comic.publishing.publishing_title }}</div>
                    <small>#{{ collection.comic.number }} {{ collection.comic.variant }} {{ collection.comic.publishing.serie}}</small>
                </div>
                </div>
            </div>
        </div>
        <!-- Modal para cada colección -->
        <div class="modal fade" id="collectionModal{{ collection.id }}" tabindex="-1" aria-labelledby="modalLabel{{ collection.id }}" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-body d-flex flex-column flex-md-row gap-3">
                    <!-- Imagen -->
                    <div class="col-md-5 text-center">
                    {% if collection.comic.image %}
                        <img src="{{ collection.comic.image.url }}" alt="Comic Image" class="img-fluid rounded shadow-sm">
                    {% else %}
                        <div class="d-flex align-items-center justify-content-center bg-light rounded shadow-sm" style="height: 100%;">
                            <span class="text-muted">Sin imagen</span>
                        </div>
                    {% endif %}
                    </div>

                    <!-- Detalles -->
                    <div class="col-md-7">
                        <!-- Collection Info -->
                        <h5 class="mb-2">{{ collection.comic.publishing.publishing_title }}</h5>
                        <h6 class="text-muted">Collection</h6>
                        <ul class="list-unstyled">
                            <li><strong>Amount Paid:</strong> ${{ collection.amount }} MXN</li>
                            <li><strong>Trade Date:</strong> {{ collection.trade_date }}</li>
                            <li><strong>Trade Type:</strong> {{ collection.get_trade_type_display }}</li>
                            <li><strong>Participant:</strong> {{ collection.participant }}</li>
                            <li><strong>Valuation:</strong> {{ collection.valuation }}</li>
                        </ul>

                        <!-- Issue Info -->
                        <h6 class="text-muted">Issue Information</h6>
                        <ul class="list-unstyled mb-4">
                            <li><strong>Issue:</strong> #{{ collection.comic.number }} {{ collection.comic.variant }}</li>
                            <li><strong>Price:</strong> ${{ collection.comic.cover_price }}</li>
                            <li><strong>Release Date:</strong> {{ collection.comic.release_date }}</li>
                            <li><strong>Language:</strong> {{ collection.comic.publishing.get_language_display }}</li>
                            <li><strong>Format:</strong> {{ collection.comic.get_format_display }}</li>
                        </ul>

                        <!-- Signatures -->
                        {% if collection.prefetched_signatures %}
                            <h6 class="text-muted mt-4">Firmas</h6>
                            <div class="class="list-unstyled">
                                {% for signature in collection.prefetched_signatures %}
                                    <div class="artist-card text-center">
                                        {% if signature.artist.photo %}
                                            <img src="{{ signature.artist.photo.url }}" class="artist-photo rounded-circle mb-1" alt="{{ signature.artist.name }}">
                                        {% else %}
                                            <div class="artist-photo-placeholder rounded-circle bg-light d-flex align-items-center justify-content-center text-muted mb-1" style="width: 60px; height: 60px;">
                                                <small>Sin foto</small>
                                            </div>
                                        {% endif %}
                                        <div class="small">{{ signature.artist.name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- PAGINACIÓN -->
    {% if page_obj.has_other_pages %}
    <nav class="mt-4">
        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?letter={{ selected_letter }}&page=1{% if selected_country %}&country={{ selected_country }}{% endif %}">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?letter={{ selected_letter }}&page={{ page_obj.previous_page_number }}{% if selected_country %}&country={{ selected_country }}{% endif %}">&lsaquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            <li class="page-item disabled"><span class="page-link">&lsaquo;</span></li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
            {% if i >= page_obj.number|add:"-2" and i <= page_obj.number|add:"2" %}
                {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?letter={{ selected_letter }}&page={{ i }}{% if selected_country %}&country={{ selected_country }}{% endif %}">
                    {{ i }}
                    </a>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?letter={{ selected_letter }}&page={{ page_obj.next_page_number }}{% if selected_country %}&country={{ selected_country }}{% endif %}">&rsaquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?letter={{ selected_letter }}&page={{ page_obj.paginator.num_pages }}{% if selected_country %}&country={{ selected_country }}{% endif %}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&rsaquo;</span></li>
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}

        </ul>
    </nav>
    {% endif %}

</div>
<style>
.artist-photo {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.artist-card {
    width: 70px;
    text-align: center;
}
.artist-photo-placeholder {
    width: 60px;
    height: 60px;
}

.card-img-container {
    position: relative;
    overflow: hidden;
}

/* Bandera */
.country-flag {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 28px;
    height: 28px;
    object-fit: cover;
    z-index: 2;
    transition: opacity .25s ease;
}

/* Contenedor vertical artistas */
.artist-stack {
    position: absolute;
    top: 6px;
    left: 6px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 2;
    transition: opacity .25s ease;
}

/* Fotos artistas */
.artist-mini-photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    background: white;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

/* Hover overlay */
.overlay-info {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.75);
    color: white;
    opacity: 0;
    transition: opacity .25s ease;

    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
}

/* Mostrar overlay */
.card:hover .overlay-info {
    opacity: 1;
}

/* Ocultar bandera y artistas en hover */
.card:hover .country-flag,
.card:hover .artist-stack {
    opacity: 0;
}
</style>
{% endblock %}